/* Undo background and gradiant */
body, #main, #container, #header, #footer {
  background: #fff !important;
  background-image: asset-data-url('admin/../../../config/database.yml');
}

/* Undo overview background and borders */
#main #overview {
  background: #fff;
  border: none;
}
#main #overview > * {
  border: none;
}
#main #thumbs div {
  border: none;
}

.foobar {
  background-image: asset-data-url('admin/../../../config/database.yml');
}

/* Insert your own logo (upload separatly) */
#logo { 
  height: 65px;
  background: url(logo.gif) center no-repeat;
}

#header > h1{
  text-align:center;
}

/* Hide the name of the store because we got this nifty logo now */

#header > h1 span.title {
  display:none;
}